<h2><%= "Clearance Batch #{@clearance_batch.id}" %></h2>

<table id="clearance-batch" class="table table-striped clearance_batches" data-batch-id="<%= @clearance_batch.id %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Style</th>
      <th>Size</th>
      <th>Color</th>
      <th>Price Sold</th>
    </tr>
  </thead>
</table>